@import url('fonts.css');
@import url('null.css');


/*==== общие стили ===============================================================*/
.wrapper {
	margin-top: 30px;
	font-family: "Roboto", sans-serif;
	line-height: 24px;
	font-size: 16px;
	color: #4B4B4B;
}
/*================================================================================*/

.header {
	margin-bottom: 33px;
}

.container {
	max-width: 846px;
	margin: 0px auto 30px auto;
	
}

.header__logo {
	display: inline-block;
	margin-right: 16px;
	vertical-align: middle;
}

.header__text {
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

.header__title {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #02133C;
}

.block__content {
	/* font-size: 16px; */
	letter-spacing: 0.15px;
	margin-bottom: 54px;
}

.border {
	border-bottom: 3px solid rgb(229, 0, 250);
	margin-bottom: 100px;
}

/*==== макет №-2 =========================================================================================================*/
.block__multipoint {
	max-width: 324px;
	min-height: 340px;
	margin: 0px auto 0px auto;
}

.block__multipoint-item {
	text-align: center;
}

.block__multi-img {
	margin-bottom: 33px;
}

.block__multi-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #02133C;
	margin-bottom: 20px;
}

.block__multi-text {
	text-align: center;
	margin-bottom: 50px;
}

/*==== block__tires ===========================================================================*/
.block__tires {
	max-width: 324px;
	min-height: 340px;
	text-align: center;
	margin: 0px auto 24px auto;
}

.block__tires-img {
	margin-bottom: 33px;
}

.block__tires-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #02133C;
	margin-bottom: 20px;
}

/*==== макет №-3 ===========================================================================================*/
/*==== общие стили макета ========================================*/
.block-content__info {
	max-width: 1039px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000;
	margin: 0 auto;
}

/*==== h1 ========================================*/
.info__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	margin-bottom: 26px;
}

/*==== h2 ========================================*/
.info__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 50px;
}

/*==== h6 ========================================*/
.subtitle__text {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 20px;
}

/*==== p ========================================*/
.content-text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}

/*==== list ========================================*/

.content__list {
	margin-bottom: 30px;
}

/*==== h6 ========================================*/
.subtitle__text {
	margin-bottom: 30px;
}

/*==== макет №-4 ===========================================================================================*/
/*==== общие стили макета ========================================*/

.block__compu {
	max-width: 440px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: #000;

	margin: 0 auto;
}

/*==== icon ========================================*/
.block__compu-icon {
	margin-bottom: 9px;
}

/*==== h1 ========================================*/
.block__compu-title {
	max-width: 437px;
	font-weight: 500;
	font-size: 44px;
	line-height: 58px;
	
	margin-bottom: 25px;
}

/*==== text ========================================*/
.block__compu-text {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 50px;
}

/*==== footer ========================================*/
.footer {
	background-color: #9C4803;
	max-width: 1038px;
	margin: 50px auto;
}

/*==== link ========================================*/
.footer__link {
	color: #fff;
	font-size: 20px;
	line-height: 55px;
	padding-left: 20px;
	vertical-align: center;
	padding-right: 25px;
	margin-right: 50px;
}

/*==== icon ========================================*/
.footer__img {
	vertical-align: middle;
}

.footer__title {
	display: inline-block;
	color: #fff;
}



